* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* for testing */
  height: 200vh;
}

nav {
  width: 100%;
  /* background: gold; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  background: #ffffff;
  border-bottom: 3px solid #dcdada;
  box-shadow: 0 4px 4px -3px rgba(255, 255, 255, 0.6);
}

.logo {
  /* background: purple; */
  padding: 15px;
}

.menu {
  padding: 10px;
  margin-right: 20px;
  /* background: red; */
}

.menu * {
  margin-right: 20px;
}

.burger {
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

.burger div {
  height: 3px;
  background: black;
  margin: 6px 0;
  border-radius: 2px;
}

.appear-menu {
  position: absolute;
  right: 0;
  transform: translateX(100);
  background: red;
}

.hidden-menu {
  width: 100%;
  height: 300px;
  position: absolute;
  right: 0;
}

@media (max-width: 660px) {
  .burger {
    display: block;
  }

  .menu {
    display: none;
  }
}
